<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <!-- Primary Meta Tags -->
    <meta name="title" content="CloudSEE | Android" />
    <meta
      name="description"
      content="¿Como instalar cloudsee en un Android?"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css" />
    <title>CloudSEE | Android</title>
  </head>
  <body>
    <div id="menu"></div>
    <div class="container">
      <h1 class="title">Soporte de CloudSEE para Android</h1>

      <div class="article" id="article"></div>
    </div>

    <script src="../code/android.js"></script>
    <script src="../code/code.js"></script>
  </body>
</html>
