<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <!-- Primary Meta Tags -->
    <meta name="title" content="CloudSEE | Share" />
    <meta name="description" content="Compartir acceso de cloudsee" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title>CloudSEE | Share</title>
  </head>
  <body>
    <div id="menu"></div>
    <div class="container">
      <h1 class="title">Compartir acceso de cloudsee</h1>

      <p>
        <!-- Para compartir tu acceso de cloudSee con tus compañeros deves seguir
        estos pasos: -->

        Updating....
      </p>

      <div class="article" id="article"></div>
    </div>

    <script src="./code/share.js"></script>
    <script src="./code/code.js"></script>
  </body>
</html>
